.container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.container h2 {
  color: white;
}

.gridItem {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  border: 4px #7f53accc solid;
  color: white;
  font-size: 14px;
  margin-right: 1em;
}

.gridItem button {
  width: 75%;
  height: 30px;
  border-radius: 10px;
  border: 0;
  margin: 1em;
}

.gridItemContent {
  position: absolute;
  display: flex;
  right: 10px;
  background-color: #00000080;
  padding: 0 1em;
  border-radius: 100px;
  top: 5px;
}

.gridItem button {
  position: absolute;
  left: 5px;
  z-index: 1;
  width: 23px;
  height: 23px;
  border-radius: 5px;
  border: 0;
  margin-left: 5px;
  margin-top: 5px;
  background-color: #d01135;
  color: white;
  font-weight: bold;
  top: 5px;
  display: grid;
  place-content: center;
}

.gridNoItems {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 25%;
  background-color: #00000080;
  color: white;
  border-radius: 10px;
  padding: 1em;
  margin: 0 auto;
}

.streamerGridContainer {
  display: flex;
  gap: 3em;
  flex-wrap: wrap;
}

.streamerGridTitle {
  color: white;
  padding-bottom: 0.5em;
  border-bottom: 3px solid white;
  width: fit-content;
}

.gridItemName {
  z-index: 2;
  position: absolute;
  bottom: 0;
  background-color: #00000080;
  width: 100%;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.gridItem p {
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  opacity: 1;
  font-size: 16px;
  font-weight: 600;
}
